{% extends "base.html.twig" %}

{% block content %}
    {{ form(form) }}

    <div class="py-5 text-center">
        <h2>Client list</h2>
        <p class="lead">Full list of clients displayed below</p>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.surname }}</td>
                <td>
                    <a href="{{ url('view_client', {'id': client.id}, false) }}">Edit</a>
                    <a href="{{ url('delete_client', {'id': client.id}, false) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}